@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #bda187; /* Change this color later */
  display: flex;
  justify-content: center;
  font-family: 'Big Shoulders Stencil Display', sans-serif;
}

h1 {
    font-size: 8rem;
    line-height: 0.7;
    color: #776e65; /* Change this color later */
    margin: 0px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    /* change these numbers later */
    width: 456px;
    height: 456px;
    /* Change these colors */
    background-color: #BBADA0;
    border: 7px solid #BBADA0;
    border-radius: 6px;
    margin-top: 20px;
}

.main div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #eee4da;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    line-height: 1.6;
}

.group {
    /* Change this values later */
    width: 468px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info {
    display: flex;
    justify-content: space-between;
    /* Change this value later */
    margin-bottom: 20px;
    background-color: #faf8ef;
}

.values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* change this values */
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #ffffff;
}

